<header >Tasks</header>
<div class="container">
<div class="col-lg-12 srch-comp">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="searchText" placeholder="Search...">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span>{{ searchPriority }}</span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right"> 
        <li class="drop-li"><a href="#" class="badge badge-green" (click)="searchPriority = 'A'">A</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-blue" (click)="searchPriority = 'B'">B</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-yellow" (click)="searchPriority = 'T'">T</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-grey" (click)="searchPriority = 'A/B'">A/B</a></li>
      </ul>

      <button type="button" class="btn btn-default" (click)="showDialog()">
          <span>New</span>
      </button>

    </div>
  </div>
</div>

    <div class="list-item col-lg-12" *ngFor="let task of tasks | filter : searchText : searchPriority">
      {{ task.title }}
      <span *ngIf="task.priority == 'T'" class="start-time">{{ task.startTime }}</span>
      <span class="task-time">{{ task.time }}h</span> 
      <span *ngIf="task.priority == 'A'" class="badge badge-green">{{ task.priority }}</span>
      <span *ngIf="task.priority == 'B'" class="badge badge-blue">{{ task.priority }}</span>
      <span *ngIf="task.priority == 'T'" class="badge badge-yellow">{{ task.priority }}</span>  
      <input *ngIf="task.status == 1" class="chkbox" type="checkbox" checked="checked" id="{{ task.id }}" (click)="toggleStatus($event)">
      <input *ngIf="task.status == 0" class="chkbox" type="checkbox" id="{{ task.id }}" (click)="toggleStatus($event)">
    <span class="close" (click)="deleteTask($event)" id="{{ task.id }}">&times;</span>
    </div>
</div>