<div class="modal-dialog">
  <div class="modal-content">
     <div class="modal-body">
        <div class="input-group">
            <input class="form-control" [(ngModel)]="newTaskTitle" placeholder="Title...">
            
            <div class="input-group">
              Type:
                <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span>{{ newTaskPriority }}</span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right badge-dropdown-menu"> 
                    <li class="drop-li"><a class="badge badge-green badge-dropdown" (click)="newTaskPriority = 'A'">A</a></li>
                    <li class="drop-li"><a class="badge badge-blue badge-dropdown" (click)="newTaskPriority = 'B'">B</a></li>
                    <li class="drop-li"><a class="badge badge-yellow badge-dropdown" (click)="newTaskPriority = 'T'">T</a></li>
                  </ul>
            </div>

            <div *ngIf="newTaskPriority == 'T'" class="input-group">
                Start time:
                  <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span>{{ timeToTitle(newTaskStartTime) }}</span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right"> 
                        <li *ngFor="let time of times" class="drop-li"><a (click)="newTaskStartTime = time">{{ timeToTitle(time) }}</a></li><br>
                    </ul>
              </div>
            
            <div class="input-group">
              Time to complete:
              <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span>{{ durationToTitle(newTaskTime) }}</span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"> 
                <li *ngFor="let dur of durations" class="drop-li"><a (click)="newTaskTime = dur">{{ durationToTitle(dur) }}</a></li>
              </ul>
            </div>

            <div *ngIf="newTaskPriority != 'T'" class="input-group">
              Can be divided?
              <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span>{{ boolToWord(newTaskDivisible) }}</span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"> 
                <li class="drop-li"><a (click)="newTaskDivisible = true">Yes</a></li>
                <li class="drop-li"><a (click)="newTaskDivisible = false">No</a></li>
              </ul>
            </div>

          </div>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="confirm()">Create</button>
       <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
     </div>
   </div>
</div>