<div class="hdr">Tasks</div>

<div class="col-lg-12 srch-comp">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="searchText" placeholder="Search...">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" (click)="showDialog()">
          <span>New</span>
      </button>

    </div>
  </div>
</div>

    <div class="task-list col-lg-12" *ngFor="let task of currentUser.tasksArray | filter : searchText">
        <span *ngIf="task.priority == 'A'" class="badg badge-green">{{ task.priority }}</span>
        <span *ngIf="task.priority == 'B'" class="badg badge-blue">{{ task.priority }}</span>
        <span *ngIf="task.priority == 'T'" class="badg badge-yellow">{{ timeToTitle(task.startTime) }}</span> 
      {{ task.title }}
      <span class="task-time">{{ durationToTitle(task.time) }}</span> 
      <label class="cont">
        <input *ngIf="task.status == 1" class="chkbox" type="checkbox" checked="checked" id="{{ task.id }}" (click)="toggleStatus($event)">
        <input *ngIf="task.status == 0" class="chkbox" type="checkbox" id="{{ task.id }}" (click)="toggleStatus($event)">
        <span class="checkmark"></span>
      </label>
    <span class="close" (click)="deleteTask($event)" id="{{ task.id }}">&times;</span>
    </div>

    <div class="task-list col-lg-12 slLi">
        <div class="input-group inl btn-left">
            <button (click)="sTimesFlag = true" type="button" class="btn btn-default dropdown-toggle badge-purple slButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ timeToTitle(currentUser.wuTime) }}
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right"> 
              <li class="drop-li" *ngFor="let time of times"><a (click)="wuTime = time; saveTimes();">{{ timeToTitle(time) }}</a></li>
            </ul>
          </div>

          <span class="slTitle">Sleep</span>

          <div class="input-group inl btn-right">
              <button (click)="sTimesFlag = true" type="button" class="btn btn-default dropdown-toggle badge-purple slButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ timeToTitle(currentUser.gtbTime) }}
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"> 
                <li class="drop-li" *ngFor="let time of times"><a (click)="gtbTime = time+1; saveTimes();">{{ timeToTitle(time+1) }}</a></li>
              </ul>
            </div>
    </div>