<div class="hdr">Tasks</div>

<div class="col-lg-12 srch-comp">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="searchText" placeholder="Search...">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span>{{ searchPriority }}</span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right badge-dropdown-menu"> 
        <li class="drop-li"><a href="#" class="badge badge-green badge-dropdown" (click)="searchPriority = 'A'">A</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-blue badge-dropdown" (click)="searchPriority = 'B'">B</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-yellow badge-dropdown" (click)="searchPriority = 'T'">T</a></li><br>
        <li class="drop-li"><a href="#" class="badge badge-grey badge-dropdown" (click)="searchPriority = 'A/B'">A/B</a></li>
      </ul>

      <button type="button" class="btn btn-default" (click)="showDialog()">
          <span>New</span>
      </button>

    </div>
  </div>
</div>

    <div class="task-list col-lg-12" *ngFor="let task of tasks | filter : searchText : searchPriority">
        <span *ngIf="task.priority == 'A'" class="badg badge-green">{{ task.priority }}</span>
        <span *ngIf="task.priority == 'B'" class="badg badge-blue">{{ task.priority }}</span>
        <span *ngIf="task.priority == 'T'" class="badg badge-yellow">{{ timeToTitle(task.startTime) }}</span> 
      {{ task.title }}
      <span class="task-time">{{ task.time }}h</span> 
       
      <input *ngIf="task.status == 1" class="chkbox" type="checkbox" checked="checked" id="{{ task.id }}" (click)="toggleStatus($event)">
      <input *ngIf="task.status == 0" class="chkbox" type="checkbox" id="{{ task.id }}" (click)="toggleStatus($event)">
    <span class="close" (click)="deleteTask($event)" id="{{ task.id }}">&times;</span>
    </div>

    <div class="task-list col-lg-12">
        <span class="badg badge-purple">{{ timeToTitle(wuTime) }}</span>
        Sleep
        <span class="badg badge-purple">{{ timeToTitle(gtbTime) }}</span>
    </div>

    <div class="input-group">
      Wake up time:
      <button (click)="sTimesFlag = true" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right"> 
        <li class="drop-li" *ngFor="let time of times"><a (click)="wuTime = time">{{ timeToTitle(time) }}</a></li>
      </ul>
    </div>

    <div class="input-group">
      Go to bed time:
      <button (click)="sTimesFlag = true" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right"> 
        <li class="drop-li" *ngFor="let time of times"><a (click)="gtbTime = time">{{ timeToTitle(time) }}</a></li>
      </ul>
    </div>

    <button *ngIf="sTimesFlag" (click)="saveTimes()" type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">Save</button>