.hdr {
    text-align: center;
    height: 80px;
    line-height: 90px;
}

.task-list {
    text-align: left;
    border: 1px solid lightgray;
    height: 50px;
    line-height: 50px;
    padding-right: 0px;
    padding-left: 0px;
}

.chkbox {
    position: absolute;
    right: 25px;
    top: -2px;
}

.close {
    position: absolute;
    right: 5px;
    bottom: 1px;
    color: red;
}

.srch-comp {
    padding-left: 0px;
    padding-right: 0px;
}

.task-time {
    position: absolute;
    right: 75px;
}

.start-time {
    position: absolute;
    right: 120px;
}

.form-control, .btn
{
    height: 50px;
}