.text-grey {
    color: grey;
}

.hr-one {
    background: grey;
    margin: 0px;
    position: relative;
    top: 25px;
}

.hr-half {
    background: lightgray;
    margin: 0px;
}

.task-block {
    background: #2cb5e8;
    padding: 5px 10px;
    position: absolute;
    left: 25%;
    width: 50%;
    color: white;
    z-index: 1;
}

.sleep-task-block {
    background: #2E3192 !important;
    z-index: 1;
}

.row {
    height: 25px;
}

.greeting {
    text-align: right;
    font-size: 0.5em !important;
}

.now {
    text-align: left;
}

.time-title {
    position: relative;
    top: 35px;
}

.task-margin {
    margin-top: 25px;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.calendar {
    max-width: 300px;
    max-height: 300px;
}

.flexCenter {
    flex-direction: column;
}

label {
    font-size: 2em;
    margin-left: 10px;
    font-weight: normal;
    line-height: 25px;
}

.lds-ellipsis {
    margin-left: 50px;
}

.status {
    font-size: 2em;
    position: relative;
    top: -20px;
}