<div class="modal-dialog">
  <div class="modal-content">
     <div class="modal-header">
        <span>New task</span>
     </div>

     <div class="modal-body">
        <div class="input-group">
            <input class="form-control" [(ngModel)]="newTaskTitle" placeholder="Title...">
            
            <div class="input-group">
              Priority:
                <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span>{{ newTaskPriority }}</span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right"> 
                    <li class="drop-li"><a class="badge badge-green" (click)="newTaskPriority = 'A'">A</a></li><br>
                    <li class="drop-li"><a class="badge badge-blue" (click)="newTaskPriority = 'B'">B</a></li><br>
                    <li class="drop-li"><a class="badge badge-yellow" (click)="newTaskPriority = 'T'">T</a></li><br>
                  </ul>
            </div>

            <div *ngIf="newTaskPriority == 'T'" class="input-group">
                Start time:
                  <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span>{{ newTaskStartTime }}</span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right"> 
                        <li *ngFor="let time of times" class="drop-li"><a (click)="newTaskStartTime = time">{{ time }}</a></li><br>
                    </ul>
              </div>
            
            <div class="input-group">
              Time to complete:
              <button type="button" class="btn btn-default dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span>{{ newTaskTime }}h</span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"> 
                <li class="drop-li"><a (click)="newTaskTime = 0.5">0.5h</a></li><br>
                <li class="drop-li"><a (click)="newTaskTime = 1">1h</a></li><br>
                <li class="drop-li"><a (click)="newTaskTime = 1.5">1.5h</a></li><br>
                <li class="drop-li"><a (click)="newTaskTime = 2">2h</a></li><br>
              </ul>
            </div>

          </div>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="confirm()">Create</button>
       <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
     </div>
   </div>
</div>