.text-grey {
    color: grey;
}

hr {
    background: grey;
    margin: 0px;
    position: relative;
    top: 25px;
}

.task-block {
    background: #2cb5e8;
    padding: 5px 10px;
    position: absolute;
    left: 25%;
    width: 50%;
}

.row {
    height: 25px;
}

.greeting {
    text-align: right;
    font-size: 0.5em !important;
}

.now {
    text-align: left;
}