.btn {
    background: white;
    color: black;
}

.inl {
    display: inline-block;
}

.hdr {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-size: 4em;
    color: white;
    font-family: "Indie Flower";
    cursor: default;
    height: 70px;
    line-height: 70px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.badg {
    top: 2.5px;
    right: 45px;
    color: black;
    width: 25px;
    padding: 17px 5px 15px 5px;
}
.badge-green {
    background: #baffc9;
}
.badge-blue {
    background: #bae1ff;
}
.badge-grey {
    background: grey;
}
.badge-yellow {
    background: #ffffba;
}
.badge-purple {
    background: #b19cd9;
}

.drop-li {
    position: relative;
    margin-bottom: 5px;
}

.dropdown-menu {
    max-height: 150px;
    overflow: scroll;
    max-width: 100px;
}

.badge-dropdown {
    width: 35px !important;
    left: 5px !important;
    padding: 3px 7px !important;
}

.badge-dropdown-menu {
    width: 37px;
    min-width: 0px !important;
}

.glyphicon {
    top: 4px;
}